{% extends "base.html" %}

{% block body %}
<body>
    
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">   
            <div class="row dumb-margin">
                 <div class="col-lg-12">
                <div>
                <div>
            </div>
        </div>
<!-- Row -->
                <div class="row">
                    <div class="col-md-6">
                         <div class="panel panel-primary">
                            <div class="panel-body" style="min-height:470px; max-height:470px">
                        <img style="max-height:440px" id="sewDude" class="img-responsive" src="static/img/sew_dude.png"><img>
                            </div>
                        </div>
                    </div>
<!-- Measurement Panel -->
                    <div class="col-md-6">
                       <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span>Measurements</span>
                        </div>
                            <div class="panel-body" style="min-height:429px">
<!-- Form Tabs -->              
        <fieldset>                            
        <ul style="margin-bottom: 12px" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#custom-measurements" aria-controls="custom-measurements" role="tab" data-toggle="tab">Custom</a></li>
        <li role="presentation"><a href="#standard-measurements" aria-controls="standard-measurements" role="tab" data-toggle="tab">Standard</a></li>
        <li role="presentation"><a href="#kinect-measurements" aria-controls="kinect-measurements" id="kinect-click" role="tab" data-toggle="tab">Kinect</a></li>
        </ul>
    <div class="tab-content">
<!-- Custom Measurement Tab-->
            <div role="tabpanel" class="tab-pane active" id="custom-measurements">
            <form class ="form-horizontal" id="custom-measurements" name="custom-measurements">
<!-- Waist -->
                    <div class="form-group waist-hover">
                         <label class="col-md-4 control-label" for="waist">Waist</label>  
                            <div class="col-md-4">
                                <input id="waist" name="waist" type="number" step="any" placeholder="" class="form-control input-md" required=""> 
                            </div>
                    </div>

<!-- Hip -->
                    <div class="form-group hip-hover">
                        <label class="col-md-4 control-label" for="hip">Hip</label>  
                            <div class="col-md-4">
                                <input id="hip" name="hip" type="number" step="any" placeholder="" class="form-control input-md" required="">
                            </div>
                    </div>

<!-- Thigh -->
                    <div class="form-group thigh-hover">
                        <label class="col-md-4 control-label" for="thigh">Thigh</label>  
                            <div class="col-md-4">
                                 <input id="thigh" name="thigh" type="number" step="any" placeholder="" class="form-control input-md" required="">
                        
                            </div>
                    </div>

<!-- Waist-to-Hip -->
                    <div class="form-group waist-to-hip-hover">
                      <label class="col-md-4 control-label" for="waist-to-hip">Waist to Hip</label>  
                      <div class="col-md-4">
                      <input id="waist-to-hip" name="waist-to-hip" type="number" step="any" placeholder="" class="form-control input-md" required="">
                        
                      </div>
                    </div>

<!-- Waist-to-knee -->
                    <div class="form-group waist-to-knee-hover">
                      <label class="col-md-4 control-label" for="waist-to-knee">Waist to Knee</label>  
                      <div class="col-md-4">
                      <input id="waist-to-knee" name="waist-to-knee" type="number" step="any" placeholder="" class="form-control input-md" required="">
                        
                      </div>
                    </div>

<!-- Waist-to-floor -->
                    <div class="form-group waist-to-floor-hover">
                      <label class="col-md-4 control-label" for="waist-to-floor">Waist to Floor</label>  
                      <div class="col-md-4">
                      <input id="waist-to-floor" name="waist-to-floor" type="number" step="any" placeholder="" class="form-control input-md" required="">
                        
                      </div>
                    </div>

<!-- Button  -->
                    <div class="form-group">
                    <div class = "col-md-8">
                    </div>
                      <div class="col-md-4">
                        <input type="submit" style="width:100px" id="custom-submit" name="custom-submit" class="btn btn-primary"></input>
                      </div>
                    </div>
            </div>
        </form>
<!-- /End Custom Measurement Tab -->

<!-- Standard Measurements tab -->
         <div role="tabpanel" class="tab-pane" id="standard-measurements">
            <form class="form-horizontal dumb-margin" name="standard-form" id="standard-form">
                <!-- Select Basic -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="select-size">US Pattern Size</label>
                  <div class="col-md-6">
                    <select id="select-size" name="select-size" class="form-control">
                      <option value="0"></option>
                      <option value="6">Size 6</option>
                      <option value="8">Size 8</option>
                      <option value="10">Size 10</option>
                      <option value="12">Size 12</option>
                      <option value="14">Size 14</option>
                      <option value="16">Size 16</option>
                    </select>
                  </div>
                </div>

                <table class="table table-condensed cass-table">
                <tr class="waist-hover">
                    <th>Waist</th>
                    <td id="standard-waist"></td> 
                </tr>
                <tr class="hip-hover">
                    <th>Hip</th>
                    <td id="standard-hip"></td> 
                </tr>
                <tr class="thigh-hover">
                    <th>Thigh</th>
                    <td id="standard-thigh"></td> 
                </tr>
                <tr class="waist-to-hip-hover">
                    <th>Waist to Hip</th>
                    <td id="standard-waist-to-hip"></td> 
                </tr>
                <tr class="waist-to-knee-hover">
                    <th>Waist to Knee</th>
                    <td id="standard-waist-to-knee"></td> 
                </tr>
                <tr class="waist-to-floor-hover">
                    <th>Waist to Floor</th>
                    <td id="standard-waist-to-floor"></td> 
                </tr>
                </table>

                <!-- Button -->
                <div class="form-group">
                  <div style="float: right" class="col-md-4">
                    <input type="submit" style="width:100px" id="standard-submit" name="standard-submit" class="btn btn-primary"></input>
                  </div>
                </div>


                </form>
            </div>
<!-- /End Standard Tab -->
<!-- Kinect Tab -->
            <div role="tabpanel" class="tab-pane" id="kinect-measurements">
            <form class="form-horizontal dumb-margin" name="kinect-form" id="kinect-form">
        <!-- Select Kinect -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="select-kinect">Kinect Data</label>
                  <div class="col-md-6">
                    <select id="select-kinect" name="select-kinect" class="form-control">
                      <option value="default"></option>
                    </select>
                  </div>
                </div>

                <table class="table table-condensed cass-table">
                <tr class="waist-hover">
                    <th>Waist</th>
                    <td id="kinect-waist"></td> 
                </tr>
                <tr class="hip-hover">
                    <th>Hip</th>
                    <td id="kinect-hip"></td> 
                </tr>
                <tr class="thigh-hover">
                    <th>Thigh</th>
                    <td id="kinect-thigh"></td> 
                </tr>
                <tr class="waist-to-hip-hover">
                    <th>Waist to Hip</th>
                    <td id="kinect-waist-to-hip"></td> 
                </tr>
                <tr class="waist-to-knee-hover">
                    <th>Waist to Knee</th>
                    <td id="kinect-waist-to-knee"></td> 
                </tr>
                <tr class="waist-to-floor-hover">
                    <th>Waist to Floor</th>
                    <td id="kinect-waist-to-floor"></td> 
                </tr>
                </table>

                <!-- Button -->
                <div class="form-group">
                  <div style="float: right" class="col-md-4">
                    <input type="submit" style="width:100px" id="kinect-submit" name="kinect-submit" class="btn btn-primary"></input>
                  </div>
                </div>


                </form>
        </div>
    </fieldset>

                            </div>
                        </div>
                    </div>
    <!-- /#Measurement Panel -->
                </div>
        <!-- /#Row -->
                  <div class="row patterns" id="patterns">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-primary" id="circle-skirt">
                            <div class="panel-heading cass-panel">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="circle-img"></div>
                                        <div>Circle Skirt!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Get Pattern</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-green" id="a-line-skirt">
                            <div class="panel-heading cass-panel">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="skirt-img"></div>
                                        <div>A-Line Skirt</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">Get Pattern</span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-yellow" id="leggings">
                            <div class="panel-heading cass-panel">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div id="leggings-img"></div>
                                        <div>Leggings!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="text-center">Get Pattern</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                  
                </div>
            <!-- /.row -->
            <!-- Bottom Row -->
            <div class="row">
            </div>
            <!-- /#bottom row -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    
    <!-- custom JavaScript -->
    <script src="static/js/cass.js"></script>
    <script src="static/js/fileinput.min.js" type="text/javascript"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
{% endblock %}

