  
 <!-- Measurement Panel -->
<div class="col-md-5">
  <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                            <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                            <li><a href="#tab3" data-toggle="tab">Tab 3</a></li>
                            <li><a href="#tab4" data-toggle="tab">Tab 4</a></li>
                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1"> <!-- Text input-->
                    <div class="form-group">
                         <label class="col-md-4 control-label" for="waist">Waist</label>  
                            <div class="col-md-4">
                                <input id="waist" name="waist" type="number" step="any" placeholder="" class="form-control input-md" required=""> 
                            </div>
                    </div>

        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="hip">Hip</label>  
                            <div class="col-md-4">
                                <input id="hip" name="hip" type="number" step="any" placeholder="" class="form-control input-md" required="">
                            </div>
                    </div>

        <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="thigh">Thigh</label>  
                            <div class="col-md-4">
                                 <input id="thigh" name="thigh" type="number" step="any" placeholder="" class="form-control input-md" required="">
                        
                            </div>
                    </div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="waist-to-hip">Waist to Hip</label>  
  <div class="col-md-4">
  <input id="waist-to-hip" name="waist-to-hip" type="number" step="any" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="waist-to-knee">Waist to Knee</label>  
  <div class="col-md-4">
  <input id="waist-to-knee" name="waist-to-knee" type="number" step="any" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="waist-to-floor">Waist to Floor</label>  
  <div class="col-md-4">
  <input id="waist-to-floor" name="waist-to-floor" type="number" step="any" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-6">
    <button id="submit" name="submit" class="btn btn-info">Submit</button>
    <button id="reset" name="reset" class="btn btn-danger">Reset</button>
  </div>
</div>

</fieldset>
</form></div>
                        <div class="tab-pane" id="tab2"></div>
                        <div class="tab-pane" id="tab3"></div>
                        <div class="tab-pane" id="tab4"></div>
                    </div>
                </div>
            </div>